p; <!-- <div id="content">
Facture de réservation de voiture
  <div class="container">

    <div class="  facture">
      <h2 class="facture-title">Facture de réservation de voiture</h2>
      <div class="row">
        <div class="col-6 info-client">
          <p class="facture-label">Client :</p>
          <p>Nom : John Doe</p>
          <p>Adresse : 123 Rue des Roses</p>
          <p>Téléphone : +1234567890</p>
          <p>E-mail : john.com</p>
        </div>
        <div class="col-6 info-agence">
          <p class="facture-label">agence :</p>
          <p>Nom : alloBaba</p>
          <p>iceAgence : 123 Rue des Roses</p>
          <p>raisonSocialAg : agence de location des voitures</p>
          <p>numTelephone : 1234567890</p>
        </div>
      </div>
    </div>
    <div class="info-vehicule">
      <p class="facture-label">Voiture réservée :</p>
      <p>Modèle : Toyota Camry</p>
      <p>Plaque d'immatriculation : ABC123</p>
      <p>Période de location : 10/05/2024 - 15/05/2024</p>
      <p>Montant total : $300</p>
    </div>
    <div class="total-section">
      <h4>Total à payer :</h4>
      <p>Montant total : $300</p>
    </div>
  </div>

Facture de réservation d'appartement
  <div class="facture">
    <h2 class="facture-title">Facture de réservation d'appartement</h2>
    <div class="info-client">
      <p class="facture-label">Client :</p>
      <p>Nom : Jane Smith</p>
      <p>Adresse : 456 Avenue des Lilas</p>
      <p>Téléphone : +987654321</p>
      <p>E-mail : abdelilah.erraguibi</p>
    </div>
    <div class="info-vehicule">
      <p class="facture-label">Appartement réservé :</p>
      <p>Adresse : 789 Rue des Tulipes</p>
      <p>Type d'appartement : Studio</p>
      <p>Période de location : 20/05/2024 - 25/05/2024</p>
      <p>Montant total : $500</p>
    </div>
    <div class="total-section">
      <h4>Total à payer :</h4>
      <p>Montant total : $500</p>
    </div>
  </div>-->
<div id="content">
<div class="container">
  <div class="invoice-container">
      <h1 class="facture-title"> <i class="bi bi-receipt-cutoff"></i> FACTURE</h1>
      <div class="  client-details">
        <p><strong>Agence :</strong></p>
        <p>13000 Marseille</p>
        <p>N° Siren ou Siret : 1234567-8</p>
        <p>N° TVA intra. : FRXX 999999999</p>
      </div>

  <!--  <div class="  client-details">
      <p><strong>Propriétaire d'appartement:</strong></p>
      <p>13000 Marseille</p>
      <p>N° Siren ou Siret : 1234567-8</p>
      <p>N° TVA intra. : FRXX 999999999</p>
    </div> -->



    <div class="  invoice-facture">
      <p><strong>facture :</strong></p>
        <p><strong>Date :</strong> 26.2.2021</p>
        <p><strong>ref de facture :</strong> 143</p>
      </div>

    <div class="client-details" >
      <p><strong>Client :</strong></p>
      <p>Michel Acheteur</p>
      <p>31, rue de la Forêt</p>
      <p>13100 Aix-en-Provence</p>
    </div>

    <div class="Voiture-details" >
      <p><strong>Voiture réservée :</strong></p>
      <p>Modèle : Toyota Camry</p>
      <p>categorie : Sport</p>
      <p>Matricule : ABC123</p>
      <p>Période de location : 10/05/2024 - 15/05/2024</p>
    </div>
    <!--<div class="Appartement-details">
      <p class="facture-label">Appartement réservé :</p>
      <p>Adresse : 789 Rue des Tulipes</p>
      <p>Categorie d'appartement : Studio</p>
      <p>Période de location : 20/05/2024 - 25/05/2024</p>
    </div>-->


     <div>
       <h2>Total à Payer : </h2>
   <h2 class="total"> <strong> <i class="bi bi-credit-card-fill"></i> 120$</strong></h2>
     </div>
  </div>
</div>
</div>


  <div class="  page-resrevation-titre" id="right">
    <strong> <a  routerLink="/contrat">
       passer à payer <i  class="  bi bi-arrow-right-short"></i>
    </a></strong>
  </div>
 <div id="left">
 <strong>
   <a (click)="exportToPDF()" class="btn btn-outline-info">
     Exporter<i  class=" mx-2  pi pi-file-export"></i>
   </a>
 </strong>

  </div>


